*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card{
    width: 80%;
    
    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: 13px 15px 22px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 15px 22px -1px rgba(0,0,0,0.75);
    box-shadow: 13px 15px 22px -1px rgba(0,0,0,0.75);
}

.card_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.card_left span{
    font-weight: 400;
}

.card_left h2{
    margin-top: 15px;
    font-size: 1.5rem;
}

.card_left p{
    color: grey;
}